{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<form action="{% url 'statuses:statuses_create' %}" method="post">
    {% csrf_token %}
    <label for="status_name">Name:</label>
    <input type="text" name="status_name" id="status_name" placeholder="Name" value=""><br>

    <input type="submit" value="{% trans 'Создать' %}">
</form>

{% if messages %}
<ul style="margin: 0 auto;">
    {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <li style="color: red;">
        {{ message }}
    </li>
    {% endif %}

    {% endfor %}

</ul>
{% endif %}

{% endblock %}
