{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<form action="{% url 'user_create' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="Username" value=""><br>

    <label for="first_name">First name:</label>
    <input type="text" name="first_name" id="first_name" placeholder="First name" value=""><br>

    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" id="last_name" placeholder="Last name" value=""><br>

    <label for="password1">Пароль:</label>
    <input type="password" name="password1" id="password1" placeholder="Пароль" value=""><br>

    <label for="password2">Подтверждение пароля:</label>
    <input type="password" name="password2" id="password2" placeholder="Подтверждение пароля" value=""><br>

    <input type="submit" value="{% trans 'Создать' %}">
</form>

{% if messages %}
<ul style="margin: 0 auto;">
    {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <li style="color: red;">
        {{ message }}
    </li>
    {% endif %}

    {% endfor %}

</ul>
{% endif %}

{% endblock %}