{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">{% trans "Username" %}:</label>
    <input type="text" name="username" id="username" placeholder="{% trans 'Username' %}" value=""><br>

    <label for="password">{% trans "Password" %}:</label>
    <input type="password" name="password" id="password" placeholder="{% trans 'Password' %}" value=""><br>

    <input type="submit" value="{% trans 'Enter' %}">
</form>

{% if messages %}
<ul style="margin: 0 auto;">
    {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <li style="color: red;">
        {{ message }}
    </li>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <li style="color: green;">
        {{ message }}
    </li>
    {% endif %}

    {% endfor %}
</ul>
{% endif %}

{% endblock %}