{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <table style = "width: 100%;">
            <tr>
                <th>ID</th>
                <th>{% trans "User name" %}</th>
                <th>{% trans "Full name" %}</th>
            </tr>
            {% for user in user_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                {% if request.user.is_authenticated and request.user.id == user.id %}
                <td>
                    <a href=" {% url 'update' user.id %}">{% trans "Change" %}</a>
                    <a href=" {% url 'delete' user.id %}">{% trans "Delete" %}</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if messages %}
<ul style="margin: 0 auto;">
    {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <li style="color: red;">
        {{ message }}
    </li>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <li style="color: green;">
        {{ message }}
    </li>
    {% endif %}

    {% endfor %}
</ul>
{% endif %}

{% endblock %}